/* css styles */
p code:not(.sourceCode) {background-color: aliceblue;}
/* filepath: /Users/quantdev/repo/quantdev/styles.css */
pre code {
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    font-style: normal;
}

pre.number-source{
    margin-left: 4em;
}

/* ...existing code... */
.site-title { display: none !important; }

/* scale navbar logo, preserve aspect ratio */
.site-logo img {
  height: 100px;    /* desired height */
  width: auto;     /* preserve aspect ratio */
  max-height: 200px; /* avoid overly large logos on big screens */
}