/* css styles */
p code:not(.sourceCode) {background-color: aliceblue;}
/* filepath: /Users/quantdev/repo/quantdev/styles.css */
pre code {
    background-color: #141C2D;
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    font-style: normal;
}